{% extends "base.html" %}

{% block title %}Your dream{% endblock %}

{% block data %}

<div class="large-area dream-bg" id="textContainer">
  <div id="textContent" class="py-3">
    <div class="container py-2 transparent-w rounded">

      <div class="py-2">
        <h1 class="display-2 t-main-font t-dark text-center">{{ dream_data.title }}</h1>
        <div class="py-1">
          <h1 class="t-dark-a">
            <a class="no-u" href="{{ url_for('index') }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
                <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
              </svg>
            </a>
            <a class="no-u" href="{{ url_for('edit_dream', dream_id=dream_data.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
              </svg>
            </a>
            <a class="no-u" href="{{ url_for('delete_dream', dream_id=dream_data.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </a>
          </h1>
        </div>
      </div>

      <div class="py-2 t-dark">
        <h2 class="display-4 t-main-font">About My Dream</h2>
        <h3><em>Characters</em></h3>
        <ul>
        {% for character in dream_data.characters %}
          <li><a href="{{ url_for('filter_by', by='char', q=character) }}">{{ character }}</a></li>
        {% endfor %}
        </ul>
        <h3><em>Locations</em></h3>
        <ul>
        {% for location in dream_data.locations %}
          <li><a href="{{ url_for('filter_by', by='loc', q=location) }}">{{ location }}</a></li>
        {% endfor %}
        </ul>
        <h3><em>Dream Type</em></h3>
        <p><a href="{{ url_for('filter_by', by='type', q=dream_data.type) }}">{{ dream_data.type }}</a></p>
        <h3><em>Date of dream</em></h3>
        <p>{{ dream_data.date }}</p>
      </div>

      <div class="py-2">
        <h2 class="display-4 t-main-font t-dark">The Dream Itself:</h2>
        <div class="main-dream-content">
          {{ dream_data.content | safe }}
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
